/* start rules */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
    display: inline-block;
}

ul {
    text-decoration: none;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    font-family: "Work Sans", sans-serif;
}

.container {
    margin: 0 0;
    padding: 0 0;
}

/* end rules */
nav {
    height: 100vh;
}

nav .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20%;
    font-size: 3rem;
    /* padding: 30px; */
    background-color: #2c4755;
    color: white;
    height: 100vh;
}