/* start rules */

@font-face {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 300;
    src: url(../fonts/Nunito.woff2);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
    display: inline-block;
}

ul {
    list-style: none;
}

li {
    text-decoration: none;
}

a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

body {
    font-family: "Nunito", sans-serif;
    font-size: 1rem;
}

.container {
    padding: 0px 15px;
    margin: 0px auto;
    max-width: 1140px;
}

/* end rules */

/* start nav section */

.nav {
    background-color: #ffffffd4;
    box-shadow: #0000003b 0px 0px 12px;
    padding: 6px 0px;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1000;
}

.nav .container {
    background-color: #ffffffd4;
    display: flex;
    justify-content: stretch;
    align-items: center;
    gap: 45%;
}

.nav .container .icon {
    padding: 16px 0;
}

.nav .container .links ul {
    display: flex;
}

.nav .container .links ul li a {
    padding: 15px 5px;
    color: #051441;
    position: relative;
    margin-left: 20px;
    transition: 0.3s;
}

.nav .container .links ul li a:hover {
    color: rgba(0, 0, 0, 0.7);
}

.nav .container .links ul li a::after {
    content: "";
    border-bottom: 2px solid #A60DCF;
    border-top: 2px solid none;
    border-right: 2px solid none;
    border-left: 2px solid none;
    width: 0%;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: 0.3s;
}

.nav .container .links ul li a.home::after {
    width: 100%;
}

.nav .container .links ul li a:hover::after {
    width: 100%;
}

/* end nav section */

/* start hero section */

.hero {
    padding-top: 60px;
    overflow: hidden;
}

.hero .container {
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10%;
}

.hero .container .column .purple {
    color: #5F4279;
    font-size: 14px;
}

.hero .container .column h1 {
    font-size: 65px;
    font-weight: 700;
    color: #2B044D;
    line-height: 1.3;
    animation: h1Animation 1s;
}

@keyframes h1Animation {
    0% {
        transform: translateY(100%);
    }

    100% {
        transform: translateY(0%);
    }
}

.hero .container .column .lorem {
    color: #6a7695;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    margin: 30px 100px 30px 0px;
    animation: loremAnimation 1s;
}

@keyframes loremAnimation {
    0% {
        transform: translateY(100%);
    }

    100% {
        transform: translateY(0%);
    }
}

.hero .container .column .download {
    padding: 15px 40px;
    background-color: #F9218D;
    border: 1px solid #F9218D;
    color: #FFFFFF;
    border-radius: 50px;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1px;
    animation: downloadAnimation 1s;
}

@keyframes downloadAnimation {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0%);
    }

}

.hero .container .column .play {
    background-color: #D852E8;
    border: 1px solid #D852E8;
    border-radius: 50px;
    color: #FFFFFF;
    padding: 15px;
    margin-left: 20px;
    text-align: center;
    animation: playAnimation 1s;
}

@keyframes playAnimation {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0%);
    }

}

.hero .container .img {
    animation: imgAnimation 1s;
}

@keyframes imgAnimation {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0%);
    }
}

/* end hero section */

/* start features section */

.features .container {
    display: flex;
    padding: 79px 0px;
}

/* .features .container .img {
    flex: 33%;
    max-width: 33%;
} */

.features .container .maincolumn {
    margin-top: 48px;
    margin-left: 30px;
    /* flex: 41%;
    max-width: 41%; */
}

.features .container .maincolumn h2 {
    margin-bottom: 70px;
    font-size: 44px;
    font-weight: 700;
}

.features .container .maincolumn .cards {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
}

.features .container .maincolumn .cards .column {
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.features .container .maincolumn .cards .column .card {
    display: flex;
    align-items: center;
    gap: 20px;
}

.features .container .maincolumn .cards .column .card .icon {
    font-size: 30px;
    background: #E78AE9;
    background: linear-gradient(90deg, rgba(231, 138, 233, 1) 0%, rgba(146, 110, 248, 1) 100%);
    color: #FFFFFF;
    border: 1px solid transparent;
    border-radius: 50%;
    text-align: center;
    padding: 15px;
}

.features .container .maincolumn .cards .column .card .cardContent h3 {
    font-size: 24px;
    font-weight: 600;
    color: #23182c;
    line-height: 1.2;
    margin-bottom: 10px;
}

.features .container .maincolumn .cards .column .card .cardContent p {
    color: #212529;
}



/* end features section */

/* start service section */

.service .container {
    margin-bottom: 200px;
}

.service .container h2 {
    font-size: 50px;
    text-align: center;
    font-weight: 700;
    margin: 70px auto;
}

.service .container .cards {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    /* background-color: bisque; */
}

.service .container .cards .card {
    padding: 70px 30px;
    text-align: center;
    border: 1px solid #FFFFFF;
    border-radius: 5px;
    transition: 0.3s;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: burlywood; */
    /* justify-content: center; */
}

.service .container .cards .card i {
    padding: 20px;
    width: 105px;
    height: 105px;
    font-size: 40px;
    line-height: 60px;
    border-radius: 50%;
    background-color: #e68bea;
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 40px;
    transition: 0.3s;
    display: block;
    position: relative;
}

.service .container .cards .card .fa-user-gear::after {
    content: "\f4fe";
}

.service .container .cards .card .fa-bullseye::after {
    content: "\f140";
}

.service .container .cards .card .fa-lightbulb::after {
    content: "\f0eb";
}

.service .container .cards .card i::before {
    content: "";
    background-image: url(../photos/service.png);
    background-repeat: no-repeat;
    width: 100%;
    height: 130%;
    z-index: -5;
    position: absolute;
    left: 50%;
    bottom: 0%;
    transition: 0.3s;
}

.service .container .cards .card:hover {
    border-color: #835ef8;
}

.service .container .cards .card:hover i {
    background-color: #835ef8;
}

.service .container .cards .card:hover i::before {
    left: 55%;
}

.service .container .cards .card a {
    font-size: 26px;
    display: block;
    font-weight: 600;
    color: #23182c;
    padding-bottom: 20px;
    transition: 0.3s;
}

.service .container .cards .card a:hover {
    color: #835ef8;
}

.service .container .cards .card p {
    color: #212529;
    font-weight: 400;
}

/* end service section */

/* start screenshot section */

.screenshot {
    overflow: hidden;
}

.screenshot .container {
    display: flex;
    align-items: center;
    gap: 10%;
    height: 70vh;
}

.screenshot .container .text {
    width: 400px;
}

.screenshot .container .text h2 {
    font-size: 40px;
    font-weight: 700;
    line-height: 1.3;
    padding-right: 20px;
    margin-bottom: 20px;
    color: #2b044d;
}

.screenshot .container .text p {
    color: #24282C;
    width: 450px;
    text-align: left;
    margin-bottom: 16px;
    line-height: 1.5;
}

.screenshot .container .content {
    display: flex;
    gap: 20px;
    margin: 0px -15px;
}

.screenshot .container .content .img {
    display: inline-block;
    width: 250px;
}

/* end screenshot section */

/* start pricing section */

.pricing {
    background-image: url(../photos/pricing.png);
    background-position: center;
    background-size: cover;
    height: 600px;
    position: relative;
    z-index: -1;
}

.pricing::before {
    content: "";
    background: #F9218D;
    background: linear-gradient(90deg, rgba(249, 33, 141, 1) 0%, rgba(108, 25, 246, 1) 100%);
    position: absolute;
    inset: 0;
    opacity: 0.95;
    z-index: -1;
}

.pricing .container {
    height: 80vh;
    position: relative;
}

.pricing .container h2 {
    text-align: center;
    color: #FFFFFF;
    font-size: 50px;
    font-weight: 700;
    margin: 70px auto;
}

.pricing .container .cards {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    /* background-color: aqua; */
    position: absolute;
    left: 50%;
    bottom: -15%;
    transform: translateX(-50%);
}

.pricing .container .cards .card {
    /* background-color: burlywood; */
    background-color: #FFFFFF;
    text-align: center;
    padding: 40px 20px;
    border-radius: 5px;
    width: 300px;
    position: relative;
    z-index: 1;
}

.pricing .container .cards .card:hover {
    box-shadow: 0px 5px 10px #00000029;
}

.pricing .container .cards .card::after {
    content: "";
    background-image: url(../photos/pricing2.png);
    background-repeat: no-repeat;
    width: 175px;
    height: 150px;
    position: absolute;
    right: 0%;
    bottom: 0%;
    transition: 0.5s;
    z-index: -1;
}

.pricing .container .cards .card:hover:after {
    right: -10%;
    bottom: -10%;
}

.pricing .container .cards .card .term {
    color: #6A56A6;
    font-size: 32px;
    font-weight: 500;
    line-height: 1.2;
}

.pricing .container .cards .card .price {
    color: #6A56A6;
    font-size: 50px;
    font-weight: 500;
    line-height: 1.2;
    margin: 26px 0px;
    padding-right: 3px;
    position: relative;
}

.pricing .container .cards .card .price span {
    font-size: 16px;
}

.pricing .container .cards .card .price::before {
    content: "";
    width: 100%;
    border-bottom: 1px solid #EEEEEE;
    border-top: 1px solid transparent;
    border-right: 1px solid transparent;
    border-left: 1px solid transparent;
    position: absolute;
    left: 0;
    bottom: 0;
}

.pricing .container .cards .card .content {
    font-size: 18px;
    color: #888;
}

.pricing .container .cards .card .content li {
    margin: 15px;
}

.pricing .container .cards .card a {
    padding: 20px 40px;
    background-color: #712fda;
    border-radius: 5px;
    color: #FFFFFF;
    margin-top: 20px;
    outline: unset;
    border: unset;
    position: relative;
    z-index: 1;
}

.pricing .container .cards .card a::before {
    content: "";
    background-color: #f9218d;
    height: 100%;
    width: 0%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    border-radius: 5px;
    transition: 0.5s;
    transition-timing-function: cubic-bezier(.5, 1.6, .4, .7);
}

.pricing .container .cards .card a:hover::before {
    width: 100%;
}



/* end pricing section */