/* start rules */

@font-face {
    font-family: "Poppins-Light";
    src: url(../fonts/Poppins-Light.ttf);
}

@font-face {
    font-family: "Poppins-Medium";
    src: url(../fonts/Poppins-Medium.ttf);
}

@font-face {
    font-family: "Poppins-Regular";
    src: url(../fonts/Poppins-Regular.ttf);
}

@font-face {
    font-family: "Poppins-Bold";
    src: url(../fonts/Poppins-Bold.ttf);
}

@font-face {
    font-family: "Poppins-SemiBold";
    src: url(../fonts/Poppins-SemiBold.ttf);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
}

ul {
    list-style: none;
}

li {
    text-decoration: none;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    font-family: "Poppins-Regular", "Poppins-Bold", "Poppins-SemiBold";
}

button {
    position: relative;
    transition: 0.3s;
    cursor: pointer;
    z-index: 1;
}

button::before {
    content: "";
    border-radius: inherit;
    width: 100%;
    height: 0%;
    position: absolute;
    bottom: 0;
    right: 0;
    transition: 0.3s;
    z-index: -1;
}

button:hover::before {
    height: 100%;
}

p {
    font-family: "Poppins-Medium";
    font-weight: 500;
}

h3 {
    font-family: "Poppins-SemiBold";
    font-weight: 600;
}

/* end rules */

/* start pageNavigation */

.pageNavigation {
    padding: 10px 10%;
    background-color: #4f617e;
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.75);
    position: fixed;
    z-index: 100;
    top: 0;
    right: 0;
    left: 0;
}

.pageNavigation .container {
    /* margin: 0 auto; */
    /* background-color: black; */
    color: white;
    display: flex;
    justify-content: space-between;

}

.pageNavigation .container .logo {
    /* background-color: blue; */
    color: white;
    font-size: 48px;
    font-weight: 500;
    font-family: "Poppins-Medium";
}

.pageNavigation .container .links {
    /* background-color: burlywood; */
    color: white;
    font-size: 24px;
    font-weight: 500;
    font-family: "Poppins-Medium";
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
}

.pageNavigation .container .links ul {
    /* background-color: burlywood; */
    display: flex;
    justify-content: space-between;
    /* gap: 200px; */
}


.pageNavigation .container .links .navigation ul li a {
    padding: 19px 30px;
    /* background-color: green; */
}

.pageNavigation .container .links button {
    background-color: white;
    color: #3E86F5;
    width: 141px;
    height: 65px;
    border-radius: 10px;
    border: 2px solid transparent;
    font-size: 24px;
}

.pageNavigation .container .links button:hover {
    color: black;
    font-size: 40px;
}

.pageNavigation .container .links button::before {
    content: "";
    background-color: #3E86F533;

}


/* end pageNavigation */

/* start hero */

.hero .container {
    height: 90vh;
    background-image: url(../images/heroBackground.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    /* display: flex;
    align-items: center; */

}

/* start content */

/* start text */

.hero .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50%;
    padding-top: 20%;
}

.hero .container .text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}

.hero .container h1 {
    font-family: "Poppins-SemiBold";
    font-size: 64px;
    font-weight: 600;
    color: #FFFFFF;
    text-align: center;
}

.hero .container p {
    font-family: "Poppins-Medium";
    font-size: 24px;
    font-weight: 500;
    color: #FFFFFF;
    text-align: center;
}

/* end text */

/* start menu */


.hero .container .menu {
    background-color: #FFFFFF;
    position: relative;
    border-radius: 0 50px 50px 50px;
}

.hero .container .menu .navigation {
    background-color: #FFFFFF;
    border: 2px solid transparent;
    border-radius: 25px 25px 0px 0px;
    position: absolute;
    left: 0;
    bottom: 100%;

}



/* start navigation */

.hero .container .menu .navigation button {
    background-color: white;
    border: 2px solid transparent;
    border-radius: 25px;
    width: 121px;
    height: 66px;
    padding: 10px;
    font-size: 18px;
    z-index: 0;
}

.hero .container .menu .navigation button::before {
    content: "";
    background-color: #3E86F533;
}

.hero .container .distincheckingations .menu .navigation button:hover::before {
    color: #000000;
}

.hero .container .menu .navigation i {
    font-size: large;
    color: #3E86F5;
}

/* end navigation */

/* start booking form */

.hero .container .menu form {
    padding: 10px 50px;
    border: 2px solid transparent;
    border-radius: 0 50px 50px 50px;
    display: flex;
    justify-content: space-around;
    gap: 3%;
    box-shadow: 0px 0px 8px 0px #0000001A;
}

.hero .container .menu form .option {
    width: 382px;
    height: 145px;
    border: 2px solid #ACACAC80;
    border-radius: 25px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 5%;
}

/* //////////////////////////// */

select {
    /* Standard property */
    appearance: none;
    /* Vendor prefix for older Chrome, Safari, and Opera */
    -webkit-appearance: none;
    /* Vendor prefix for Firefox */
    -moz-appearance: none;
    /* Optional: Add padding to make space if you add a custom arrow via background image */

    font-size: 24px;

    font-family: "Poppins-Medium";

    border: 2px solid transparent;

}

/* For Internet Explorer 10+ */
select::-ms-expand {
    display: none;
}

/* //////////////////////////// */





.hero .container .menu form label {
    font-size: 18px;
    font-family: "Poppins-Medium";
}

.hero .container .menu form .option .column.middle {
    border: 1px dashed black;
    border-radius: 50%;
}

.hero .container .menu form .option .column.middle i {
    color: #000000;
    width: 40px;
    height: 40px;
    text-align: center;
    transform: translateY(25%);
}

.hero .container .menu form .option .column label i {
    color: #3E86F5CC;
}

.hero .container .menu form .option .column.left label i {
    margin-left: 10px;
}

.hero .container .menu form .option .column.right label i {
    margin-left: 10px;
}

.hero .container .menu form .times {
    width: 478px;
}


/* //////////////////////////// */



/* //////////////////////////// */







.hero .container .menu form .search {
    background-color: white;
    width: 145px;
    height: 145px;
    border: 2px solid transparent;
    border-radius: 65px;
}

.hero .container .menu form .search::before {
    background-color: #3E86F5CC;
}

.hero .container .menu form .search i {
    color: #3E86F5;
    font-size: 50px;
}

.hero .container .menu form .search:hover i {
    color: white;
}

/* end booking form */

/* end menu */

/* end content */

/* end hero */

/* start offers */

.offers {
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 40px;
}

.offers .offersNavigation h2 {
    background-color: #3E86F5;
}

/* start offersNavigation */

.offers .offersNavigation {
    background-color: #FFFFFF;
    width: 340px;
    height: 66px;
    box-shadow: 0px 0px 6px 0px #0000000D;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0px 0px 6px 0px #0000000D;
    z-index: 0;
}

.offers .offersNavigation button {
    width: 100px;
    height: 46px;
    color: #00000080;
    background-color: inherit;
    border: none;
    border-radius: 10px;
    font-size: 18px;
}

.offers .offersNavigation button::before {
    background-color: #3E86F5;
}

.offers .offersNavigation button:hover {
    color: white;
}


/* end offersNavigation */

/* start offersContent */

.offers .offersContent {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}

.offers .offersContent .column {
    color: white;
    width: 380px;
    height: 457px;
    border: 1px solid transparent;
    border-radius: 50px;
    box-shadow: 0px 0px 6px 0px #0000000D;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: left;
    padding-left: 20px;
    position: relative;
}

.offers .offersContent .column p {
    color: #00000080;

}

.offers .offersContent .column .rotatedText {
    font-size: 18px;
    letter-spacing: 9px;
    transform: rotate(90deg);
    position: absolute;
    top: 25%;
    right: -19%;
}

.offers .offersContent .column .img {
    border: 1px solid transparent;
    border-radius: 50px;
    overflow: hidden;
    width: 293px;
    height: 273px;
}

.offers .offersContent .column .img img {
    width: 293px;
    height: 273px;
}

.offers .offersContent .column .columnContent {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    gap: 20px;
    margin-left: 20px;
}

.offers .offersContent .column .info {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
}

.offers .offersContent .column .info p {
    font-size: 14px;
}

.offers .offersContent .column .info .colored {
    border: 1px solid transparent;
    border-radius: 100px;
    text-align: center;
}

.offers .offersContent .column .info .Fuschia {
    color: #F178B6;
    background-color: #FCDDEC;
    width: 69px;
}

.offers .offersContent .column .info .Iris {
    color: #7879F1;
    background-color: #F1F1FD;
    width: 104px;
}

.offers .offersContent .column h3 {
    font-size: 24px;
    color: #000000;
}

.offers .offersContent .column .columnContent .confirmation {
    display: flex;
    justify-content: space-between;
    padding-right: 20%;
}

.offers .offersContent .column .columnContent .confirmation span {
    color: #000000;
    font-size: 24px;
}

.offers .offersContent .column .columnContent .confirmation button {
    background-color: #F2F6FF;
    color: #3E86F5;
    border: 2px solid transparent;
    border-radius: 10px;
    font-size: 14px;
    width: 107px;
    height: 47px;
}



/* end offersContent */


/* end offers */

/* start sale */

.sale .container {
    margin: 200px 100px 0 100px;
    display: flex;
    justify-content: space-around;
}

.sale .container .img {
    background-color: #000000;
    border-radius: 75px;
    /* overflow: hidden; */
    width: 480px;
    height: 800px;
    position: relative;
}

.sale .container .img img {
    width: 100%;
    height: 100%;
    border-radius: 75px;
}

.sale .container .hovering {
    background-color: #FFFFFF;
    box-shadow: 0px 0px 25px 0px #0000001A;
    border-radius: 35px;
    z-index: 2;
    position: absolute;
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
    padding: 30px 0;
    text-align: center;
}

.sale .container .hovering h4 {
    color: #3E86F5;
    font-size: 36px;
    font-family: "Poppins-Bold";
}

.sale .container .hovering p {
    color: #000000;
    font-size: 18px;
    font-weight: 300;
    font-family: "Poppins-Light";
    margin-top: -15px;
}

.sale .container .hovering.text1 {
    width: 174px;
    height: 120px;
    left: -20%;
    top: 40%;
}

.sale .container .hovering.text2 {
    width: 180px;
    height: 120px;
    right: -20%;
    top: 20px;
}

.sale .container .hovering.text3 {
    width: 174px;
    height: 120px;
    right: -20%;
    bottom: 30%;
}

.sale .container .content {
    width: 580px;
    height: 597px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 10px;
    margin-top: 2%;
}

.sale .container .content h3 {
    font-size: 48px;
}

.sale .container .content p {
    font-size: 20px;
    font-family: "Poppins-Regular";

}

.sale .container .content button {
    background-color: white;
    color: black;
    box-shadow: 4px 8px 25px 0px #3E86F540;
    border: 1px solid transparent;
    border-radius: 10px;
    width: 179px;
    height: 75px;
    font-size: 20px;
    font-family: "Poppins-Regular";
    align-self: flex-start;
}

.sale .container .content button::before {
    background-color: #3E86F5;
}

.sale .container .content button:hover {
    color: white;
}

/* end sale */

/* start recommindation */

.recommindation .container {
    margin: 200px 100px 0 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.recommindation .container h3 {
    font-size: 48px;
    color: #000000;
    text-align: center;
}

.recommindation .container .recommindationNav {
    width: 333px;
    height: 46px;
    display: flex;
}

.recommindation .container .recommindationNav button {
    width: 120px;
    height: 46px;
    border-radius: 10px;
    border: 1px solid transparent;
    background-color: white;
    color: #00000080;
    font-size: 18px;
    font-family: "Poppins-SemiBold";
}

.recommindation .container .recommindationNav button:hover {
    color: #3E86F5;
}

/* start recommindation Menu */

.recommindation .container .recommindationMenu {
    /* margin: 200px 100px; */
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
}

.recommindation .container .recommindationMenu .column {
    margin: 50px 0;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #FFFFFF;
    width: 280px;
    height: 293px;
    box-shadow: 4px 4px 25px 0px #0000001A;
}

.recommindation .container .recommindationMenu .column .img {
    position: relative;
}

.recommindation .container .recommindationMenu .column .img img {
    width: 260px;
    height: 200px;
    border-radius: 25px;
}

.recommindation .container .recommindationMenu .column .img .hovering {
    background-color: #FFFFFF;
    border-radius: 25px;
    width: 55px;
    height: 20px;
    text-align: center;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 12px;
    font-family: "Poppins-Medium";
}

.recommindation .container .recommindationMenu .column .img .hovering i {
    color: #F8CE01;
}

.recommindation .container .recommindationMenu .column h4 {
    color: #000000;
    font-size: 18px;
    font-family: "Poppins-SemiBold";
    align-self: flex-start;
    margin-left: 20px;
}

.recommindation .container .recommindationMenu .column p {
    color: #00000080;
    font-size: 14px;
    font-family: "Poppins-Medium";
    align-self: flex-start;
    margin-left: 20px;
    margin-bottom: 20px;
}

.recommindation .container .recommindationMenu .column p i {
    color: #FD787B;
    font-size: 14px;
}


/* end recommindation Menu */

/* end recommindation */

/* start review */

.review .container {
    margin: 200px 100px 0 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 100px;
    align-items: center;
}

/* start reviewMenu */

.review .container .reviewMenu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 100px;
}

.review .container .reviewMenu .column {
    background-color: #FFFFFF;
    border-radius: 50px;
    width: 580px;
    height: 410px;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.1);
    padding: 0 10px;
    text-align: center;
    position: relative;
}

.review .container .reviewMenu .column::before {
    font: var(--fa-font-solid);
    content: '\f10d';
    font-weight: 900;
    font-size: 90px;
    color: gray;
    opacity: 0.4;
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translateX(-50%) scaleX(2);
}

.review .container .reviewMenu .column .Text {
    font-size: 20px;
    font-family: "Poppins-Medium";
    font-weight: 500;
    margin-top: 40px;
}

.review .container .reviewMenu .column .black {
    color: #000000;
}

.review .container .reviewMenu .column .blue {
    color: #3E86F5;
}

.review .container .reviewMenu .column .grey {
    color: #00000080;
}

.review .container .reviewMenu .column .img {
    width: 180px;
    height: 134px;
    background-color: #FFFFFF;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 50%;
    bottom: -15%;
    transform: translateX(-50%);
}

.review .container .reviewMenu .column .img img {
    width: 110px;
    height: 110px;
    border-radius: 50%;
}

/* end reviewMenu */

/* start reviewNav */

.review .container .reviewNav button {
    color: rgb(62, 134, 245);
    border: 3px solid rgba(62, 134, 245, 0.5);
    width: 40px;
    height: 40px;
    border-radius: 10px;
    font-size: 20px;
    margin-left: 20px;
}

/* end reviewNav */

/* end review */

/* start footer */

.footer .container {
    margin: 200px 100px 50px 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 150px;
    align-items: center;
}

/* start content */

.footer .container .content {
    width: 1180px;
    height: 500px;
    padding-top: 5%;
    padding-bottom: 5%;
    text-align: center;
    background-image: url(../images/footer/71c421395fc25bf9d27ea1b1bec2a63b1da5233d.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: relative;
}

.footer .container .content::before {
    content: "";
    background-image: url(../images/footer/image.png);
    opacity: 0.95;
    position: absolute;
    inset: 0;
    z-index: -2;
}

.footer .container .content p {
    color: #FFFFFF;
    font-size: 48px;
}

.footer .container .content button {
    width: 220px;
    height: 80px;
    color: #3E86F5;
    box-shadow: 4px 8px 25px 0px #3E86F540;
    border: 1px solid transparent;
    border-radius: 25px;
}

.footer .container .content button::before {
    background-color: #3E86F5;
}

.footer .container .content button:hover {
    color: white;
}

/* end content */

/* start bottom */

.footer .container .bottom {
    display: flex;
    justify-content: space-between;
    width: 1180px;
    margin: 0 20px;
}


.footer .container .bottom p {
    font-size: 20px;
    color: #00000080;
    font-family: "Poppins-Medium";
    font-weight: 500;
}

.footer .container .bottom .links ul {
    display: flex;
    justify-content: space-between;
}

.footer .container .bottom .links ul li a {
    padding: 20px;
    margin-left: 20px;
    font-size: 24px;
    color: #000000BF;
    font-family: "Poppins-Medium";
    font-weight: 500;
}

/* end bottom */

/* end footer */