/* start rules */

@font-face {
    font-family: "Poppins-Medium";
    src: url(../fonts/Poppins-Medium.ttf);
}

@font-face {
    font-family: "Poppins-Regular";
    src: url(../fonts/Poppins-Regular.ttf);
}

@font-face {
    font-family: "Poppins-Bold";
    src: url(../fonts/Poppins-Bold.ttf);
}

@font-face {
    font-family: "Poppins-SemiBold";
    src: url(../fonts/Poppins-SemiBold.ttf);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
}

ul {
    list-style: none;
}

li {
    text-decoration: none;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    font-family: "Poppins-Regular", "Poppins-Bold", "Poppins-SemiBold";
}

button {
    position: relative;
    transition: 0.3s;
    cursor: pointer;
}

button::before {
    content: "";
    width: 100%;
    height: 0;
    position: absolute;
    bottom: 0;
    right: 0;
    transition: 0.3s;
}

button:hover::before {
    height: 100%;
}

/* end rules */

/* start nav */

nav {
    padding: 10px 10%;
    background-color: #4f617e;
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.75);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}

nav .container {
    /* margin: 0 auto; */
    /* background-color: black; */
    color: white;
    display: flex;
    justify-content: space-between;

}

nav .container .logo {
    /* background-color: blue; */
    color: white;
    font-size: 48px;
    font-weight: 500;
    font-family: "Poppins-Medium";
}

nav .container .links {
    /* background-color: burlywood; */
    color: white;
    font-size: 24px;
    font-weight: 500;
    font-family: "Poppins-Medium";
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
}

nav .container .links ul {
    /* background-color: burlywood; */
    display: flex;
    justify-content: space-between;
    /* gap: 200px; */
}


nav .container .links .navigation ul li a {
    padding: 19px 30px;
    /* background-color: green; */
}

nav .container .links button {
    background-color: white;
    color: #3E86F5;
    width: 141px;
    height: 65px;
    border-radius: 10px;
    border: 2px solid transparent;
}

nav .container .links button::before {
    content: "";
    border-radius: 10px;
    background-color: #3E86F533;
}


/* end nav */

/* start hero */

.hero .container {
    height: 90vh;
    background-image: url(../images/heroBackground.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    /* display: flex;
    align-items: center; */

}

/* start content */

/* start text */

.hero .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50%;
    padding-top: 20%;
}

.hero .container .text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}

.hero .container h1 {
    font-family: "Poppins-SemiBold";
    font-size: 64px;
    font-weight: 600;
    color: #FFFFFF;
    text-align: center;
}

.hero .container p {
    font-family: "Poppins-Medium";
    font-size: 24px;
    font-weight: 500;
    color: #FFFFFF;
    text-align: center;
}

/* end text */

/* start menu */


.hero .container .menu {
    background-color: #FFFFFF;
    position: relative;
    border-radius: 0 50px 50px 50px;
}

.hero .container .menu .navigation {
    background-color: #FFFFFF;
    border: 2px solid transparent;
    border-radius: 25px 25px 0px 0px;
    position: absolute;
    left: 0;
    bottom: 100%;
}



/* start navigation */

.hero .container .menu .navigation button {
    background-color: white;
    border: 2px solid transparent;
    border-radius: 25px;
    width: 121px;
    height: 66px;
    padding: 10px;
}

.hero .container .menu .navigation button::before {
    content: "";
    border-radius: 25px;
    background-color: #3E86F533;
}

.hero .container .distincheckingations .menu .navigation button:hover::before {
    color: #000000;
}

.hero .container .menu .navigation i {
    font-size: large;
    color: #3E86F5;
}

/* end navigation */

/* start booking form */

.hero .container .menu form {
    padding: 10px 50px;
    border: 2px solid transparent;
    border-radius: 0 50px 50px 50px;
    display: flex;
    justify-content: space-around;
    gap: 3%;
    box-shadow: 0px 0px 8px 0px #0000001A;
}

.hero .container .menu form .option {
    width: 382px;
    height: 145px;
    border: 2px solid #ACACAC80;
    border-radius: 25px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 5%;
}

/* //////////////////////////// */

select {
    /* Standard property */
    appearance: none;
    /* Vendor prefix for older Chrome, Safari, and Opera */
    -webkit-appearance: none;
    /* Vendor prefix for Firefox */
    -moz-appearance: none;
    /* Optional: Add padding to make space if you add a custom arrow via background image */
    /* padding-right: 30px; */

    font-size: 24px;

    font-family: "Poppins-Medium";

    border: 2px solid transparent;

}

/* For Internet Explorer 10+ */
select::-ms-expand {
    display: none;
}

/* //////////////////////////// */





.hero .container .menu form label {
    font-size: 18px;
    font-family: "Poppins-Medium";
}

.hero .container .menu form .option .column.middle {
    border: 1px dashed black;
    border-radius: 50%;
}

.hero .container .menu form .option .column.middle i {
    color: #000000;
    width: 40px;
    height: 40px;
    text-align: center;
    transform: translateY(25%);
}

.hero .container .menu form .option .column label i {
    color: #3E86F5CC;
    /* padding-left: 10px; */
}

.hero .container .menu form .option .column.left label i {
    margin-left: 10px;
}

.hero .container .menu form .option .column.right label i {
    margin-left: 10px;
}

.hero .container .menu form .times {
    width: 478px;
}


/* //////////////////////////// */



/* //////////////////////////// */







.hero .container .menu form .search {
    background-color: #3E86F5CC;
    width: 145px;
    height: 145px;
    border: 2px solid transparent;
    border-radius: 65px;
}

.hero .container .menu form .search i {
    color: #FFFFFF;
    font-size: 50px;
}

/* end booking form */

/* end menu */

/* end content */


/* end hero */