/* start rules */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
}

ul {
    list-style: none;
}

li {
    text-decoration: none;
}

a {
    text-decoration: none;
    color: inherit;
}

/* end rules */