/* start rules */
@font-face {
    font-family: 'Josefin Sans';
    src: url(../fonts/JosefinSans-SemiBold.ttf);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
    display: inline-block;
}

.img {
    display: inline-block;
}

ul {
    list-style: none;
}

li {
    text-decoration: none;
}

a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

body {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: #212529;
}

button {
    position: relative;
    transition: 0.3s;
    cursor: pointer;
    z-index: 1;
}

button::before {
    content: "";
    width: 0%;
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.5s;
    z-index: -1;
    transition-timing-function: linear(0, 1 44.7%, 0.898 51.8%, 0.874 55.1%, 0.866 58.4%, 0.888 64.3%, 1 77.4%, 0.98 84.5%, 1);
}

button:hover::before {
    width: 100%;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

/* end rules */

/* start page navigation */

.pageNavigation {
    background-color: #FFFFFF;
    box-shadow: 0 10px 15px rgb(25 25 25 / 10%);
    padding: 8px 16px;
    margin-top: 5px;
}

.pageNavigation .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.pageNavigation .container .pageIcon {
    padding: 5px 0;
}

/* start colapsed navigation */

.pageNavigation .container .colapsedNavigation {
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 40%;
}

/* start Navigation */

.pageNavigation .container .colapsedNavigation .Navigation {
    display: flex;
    justify-content: stretch;
    align-items: center;
}

.pageNavigation .container .colapsedNavigation .Navigation>li>a {
    padding: 41px 21px;
    color: rgba(0, 0, 0, 0.9);
}

.pageNavigation .container .colapsedNavigation .Navigation .drop {
    position: relative;
    display: inline-block;
}

.pageNavigation .container .colapsedNavigation .Navigation .drop .dropdown {
    background-color: #FFFFFF;
    border-radius: 7px 7px 3px 3px;
    border-top: 3px solid #ff003c;
    box-shadow: 0 10px 15px rgb(25 25 25 / 10%);
    display: flex;
    flex-direction: column;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 110%;
    left: 0%;
    width: 170px;
    transition: 0.3s;
}

.pageNavigation .container .colapsedNavigation .Navigation .drop .dropdown li a {
    padding: 20px 10px;
    font-size: 16px;
    font-weight: 500;
    color: #212529;
    text-align: left;
}

.pageNavigation .container .colapsedNavigation .Navigation .drop.latest .latestLink::before {
    content: "HOT";
    color: #FFFFFF;
    background-color: #ff003c;
    border-radius: 25px;
    text-align: center;
    font-size: 10px;
    letter-spacing: 1px;
    border-radius: 8px;
    padding: 3px 8px;
    font-weight: 500;
    box-shadow: 0 2px 5px rgb(0 0 0 / 30%);
    position: absolute;
    bottom: 65%;
    right: -10%;
    z-index: 1;
}

.pageNavigation .container .colapsedNavigation .Navigation .drop .dropdown::before {
    content: "";
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    border-top: 10px solid transparent;
    border-bottom: 10px solid red;
    position: absolute;
    bottom: 100%;
    left: 10%;
    height: 5px;
    z-index: 1;
}

.pageNavigation .container .colapsedNavigation .Navigation .latest:hover .dropdown {
    visibility: visible;
    opacity: 1;
}

.pageNavigation .container .colapsedNavigation .Navigation .blog:hover .dropdown {
    visibility: visible;
    opacity: 1;
}

.pageNavigation .container .colapsedNavigation .Navigation .pages:hover .dropdown {
    visibility: visible;
    opacity: 1;
}

/* end Navigation */

/* start icons */

.pageNavigation .container .colapsedNavigation .icons ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pageNavigation .container .colapsedNavigation .icons ul li a {
    font-size: 16px;
    padding: 31px 19px;
}

/* end icons */

/* end colapsed navigation */

/* end page navigation */

/* start hero section */

.heroSection {
    background-color: #f1f1f1;
}

.heroSection .container {
    height: 86.5vh;
    max-width: 1140px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* start left side */

.heroSection .container .left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    gap: 20px;
    max-width: 66%;
}

.heroSection .container .left h1 {
    font-size: 94px;
    font-weight: 700;
    color: #0B1C39;
}

.heroSection .container .left button {
    background-color: #4A4A4B;
    font-size: 22px;
    font-weight: 600;
    color: white;
    padding: 10px 30px;
    margin: 10px 0px;
}

.heroSection .container .left button::before {
    content: "";
    background-color: #ff003c;
}

.heroSection .container .left button:hover::before {
    color: white;
}

/* end left side */

/* start right side */

.heroSection .container .img {
    height: 100%;
    overflow: hidden;
}

/* end right side */

/* end hero section */

/* start new ariivals section */

.newArrivals .container {
    margin-top: 200px;
    height: 90vh;
    max-width: 1140px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 5%;
}

.newArrivals .container h2 {
    font-size: 48px;
    font-weight: bold;
}

/* start content */

.newArrivals .container .content {
    display: flex;
    justify-content: space-around;
    gap: 2%;
}

.newArrivals .container .content .column a {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}

.newArrivals .container .content .column .img {
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.newArrivals .container .content .column .img img {
    transition: 0.5s;
}

.newArrivals .container .content .column h5 {
    color: #444444;
    font-size: 24px;
    font-weight: bold;
}

.newArrivals .container .content .column .productPrice {
    color: #ff003c;
}

.newArrivals .container .content .column:hover img {
    scale: 1.1;
}

/* end content */

/* end new ariivals section */

/* start photo gallery */

.photoGallery .container {
    height: 100vh;
    gap: 2%;
    display: flex;
    justify-content: space-around;
    padding: 90px 0px;
}

.photoGallery .container .column.left {
    width: 50%;
    height: 100%;
    overflow: hidden;
}

.photoGallery .container .column.middle {
    height: 100%;
    width: 25%;
    overflow: hidden;
}

.photoGallery .container .column.right {
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5%;
}

.photoGallery .container .column .img {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.photoGallery .container .column .img img {
    height: 100%;
    scale: 1.1;
    transition: 0.5s;
}

.photoGallery .container .img::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.073);
    z-index: 1;
    transition: 0.5s;
}

.photoGallery .container .img:hover::before {
    background-color: rgba(0, 0, 0, 0.289);
}

.photoGallery .container .img:hover img {
    scale: 1;
}

/* end photo gallery */

/* start popular items */

.popularItems .container {
    height: 120vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 3%;
}

/* start header */

.popularItems .container h3 {
    font-size: 48px;
    font-weight: bold;
    color: #0b1c39;
}

.popularItems .container .headerContent {
    font-size: 16px;
    font-weight: bold;
    color: #999;
    text-align: center;
}

/* end header */

/* start content */

.popularItems .container .content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3%;
    padding: 0px 10%;
}

.popularItems .container .content .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-bottom: 3%;
}

.popularItems .container .content .card .img {
    position: relative;
    overflow: hidden;
}

.popularItems .container .content .card .img::before {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    border: 3px solid #ff003c;
    z-index: 1;
}

.popularItems .container .content .card button {
    background-color: #ff003c;
    width: 100%;
    height: 0%;
    padding: 10px;
    color: #FFFFFF;
    font-size: 16px;
    border: none;
    position: absolute;
    bottom: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
}

.popularItems .container .content .card .icon {
    color: #444;
    font-size: 28px;
    position: absolute;
    top: 5%;
    right: 5%;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
}

.popularItems .container .content .card .img:hover button {
    opacity: 1;
    visibility: visible;
    height: 15%;
}

.popularItems .container .content .card .img:hover .icon {
    opacity: 1;
    visibility: visible;
}

.popularItems .container .content .card .cardContent {
    padding: 30px;
}

.popularItems .container .content .card .cardContent h5 {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.popularItems .container .content .card .cardContent .productPrice {
    font-size: 16px;
    font-weight: bold;
    color: #212529;
    text-align: center;
}

/* end content */

/* start VIEW MORE PRODUCTS button */

.popularItems .container .viewMoreProducts {
    background-color: #ff003c;
    color: #FFFFFF;
    padding: 15px 30px;
    border: none;
    position: relative;
    transition: 0.3s;
    cursor: pointer;
    z-index: 1;
}

.popularItems .container .viewMoreProducts::before {
    content: "";
    background-color: #444;
}

/* end VIEW MORE PRODUCTS button */

/* end popular items */

/* start watch of choise */

.watchOfChoise .container {
    margin-top: 350px;
    height: 90vh;
    max-width: 1140px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10%;
}

.watchOfChoise .container .column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
    gap: 50px;
}

.watchOfChoise .container .column h2 {
    font-weight: bold;
    font-size: 54px;
}

.watchOfChoise .container .column button {
    background-color: #ff003c;
    padding: 15px 30px;
    width: 50%;
    color: #FFFFFF;
    border: none;
    font-size: 16px;
}

.watchOfChoise .container .column button::before {
    background-color: #444;
}



/* end watch of choise */
/* start watch of choise reverse */

.watchOfChoise.reverse .container {
    margin-top: 0px;

}

/* end watch of choise reverse */

/* start info section */

.info {
    padding: 70px 0;
}

.info .container {
    max-width: 1140px;
    padding: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #ff003c;
    color: #FFFFFF;
    font-family: sans-serif;
    flex: 33.3%;
}

.info .container .column {
    max-width: 33.3%;
}

.info .container .column i {
    font-size: 34px;
    font-weight: 900;
}

.info .container .column h5 {
    font-size: 20px;
    font-weight: bold;
    margin: 20px 0;
}

.info .container .column p {
    font-size: 16px;
    font-weight: lighter;
    margin: 0 0 20px 0;
}

/* end info section */

/* start links section */

.links {
    padding: 70px 0;
}

.links .container {
    max-width: 1140px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 5%;
}

.links .container .icon p {
    margin: 40px 0;
    color: #999;
}

.links .container .column {
    flex: 16.5%;
    transform: translateY(-10%);
}

.links .container .column h6 {
    font-size: 24px;
    color: #212529;
}

.links .container .column ul li {
    font-size: 16px;
    color: #999;
    margin-top: 10px;
}

/* end links section */

/* start footer section */

.footer .container {
    max-width: 1140px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer .container p {
    margin: 40px 0;
    color: #999;
}

.footer .container p span{
    color: #ff003c;
}

.footer .container .socialMedia button {
    border: none;
    font-size: 14px;
    color: #212544;
    margin: 0px 4px;
    background: none;
    transition: 0.3s;
}

.footer .container .socialMedia button:hover {
    color: #ff003c;
    transform:rotateY(180deg);
}


/* end footer section */