/* start rules */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
}

ul {
    list-style: none;
}

li {
    text-decoration: none;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    font-family: "Poppins-Regular", "Poppins-Bold", "Poppins-SemiBold";
}

button {
    position: relative;
    transition: 0.3s;
    cursor: pointer;
}

button::before {
    content: "";
    width: 100%;
    height: 0;
    position: absolute;
    bottom: 0;
    right: 0;
    transition: 0.3s;
}

button:hover::before {
    height: 100%;
}

/* end rules */