/* start rules */

@font-face {
    font-family: "Lexend";
    src: url(../fonts/Lexend-Regular.ttf);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
    display: inline-block;
}

ul {
    list-style: none;
}

li {
    text-decoration: none;
}

a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

body {
    font-family: "Lexend";
}

button {
    position: relative;
    transition: 0.3s;
    cursor: pointer;
    z-index: 1;
}

button::before {
    content: "";
    width: 100%;
    height: 0;
    position: absolute;
    bottom: 0;
    right: 0;
    transition: 0.3s;
    z-index: -1;
}

button:hover::before {
    height: 100%;
}

.container {
    padding: 0px 15px;
    margin: 0 auto;
}

/* end rules */

/* start hero section */

.hero .container {
    display: flex;
    max-width: 1201px;
}

/* start nav section */

.hero .container .nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 46px;
    background-color: blanchedalmond;
}

/* start icon section */

.hero .container .nav .icon {
    display: flex;
    align-items: center;
    gap: 10%;
    font-size: 16px;
    font-weight: 700;
    color: #1B1C57;
}

.hero .container .nav .icon .img {
    width: 36px;
    height: 36px;
}

/* end icon section */

/* start navegation section */

.hero .container .nav .navigation {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    font-size: 14px;
    font-weight: 600;
}

.hero .container .nav .navigation .buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
}

.hero .container .nav .navigation .buttons li a {
    border-radius: 32px;
    border: 1px dashed white;
    padding: 8px 16px;
    color: #F0F3FD;

}

.hero .container .nav .navigation button {
    background-color: #D1FAE5;
    border-radius: 32px;
    border: none;
    padding: 12px 24px;
    color: #047857;
}



/* end navegation section */

/* end nav section */

/* end hero section */