/* start rules */

@font-face {
    font-family: "Lexend";
    src: url(../fonts/Lexend-Regular.ttf);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
    display: inline-block;
}

ul {
    list-style: none;
}

li {
    text-decoration: none;
}

a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

body {
    font-family: "Lexend";
}

button {
    position: relative;
    transition: 0.3s;
    cursor: pointer;
    z-index: 1;
}

button::before {
    content: "";
    width: 100%;
    height: 0;
    position: absolute;
    bottom: 0;
    right: 0;
    transition: 0.3s;
    z-index: -1;
}

button:hover::before {
    height: 100%;
}

.container {
    padding: 0px 15px;
    margin: 0 auto;
}

/* end rules */