/* start rules */

:root {
    --light-green: #30e3ca;
}

@font-face {
    font-family: "Nanum Gothic";
    src: url(https://fonts.gstatic.com/s/nanumgothic/v26/PN_3Rfi-oW3hYwmKDpxS7F_z-7rJxHVIsPV5MbNO2rV2_va-Nv6p.0.woff2) format('woff2');
    font-style: normal;
    font-weight: 400;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
    display: inline-block;
}

ul {
    list-style: none;
}

li {
    text-decoration: none;
}

a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

body {
    font-family: "Nanum Gothic", sans-serif;
}

/* end rules */

/* start nav section */

.navbar {
    margin-top: 20px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    width: 95%;
    border-radius: 5px;
}

.navbar-brand {
    font-size: 20px;
    font-weight: 900;
}

.navbar-brand span {
    color: var(--light-green);
    font-weight: 700;
}


.navbar .container-fluid .collapse .navbar-nav .nav-item .nav-link {
    transition: 0.3s;
    color: #051441;
    padding: 20px 10px;
    font-size: 15px;
    font-weight: 500;
}


.navbar .container-fluid .collapse .navbar-nav .nav-item .nav-link:hover {
    color: #30e3ca;
}

.navbar .container-fluid .collapse .navbar-nav .nav-item .nav-link.btn {
    color: #FFFFFF;
    background-color: var(--light-green);
    padding: 8px 12px;
}

/* end nav section */


/* start home section */

.hero {
    background-image: url(../photos/hero.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    z-index: -1;
}

.hero::before {
    content: "";
    color: rgba(0, 0, 0, 0.4);
    position: absolute;
    inset: 0;
    z-index: 1;
}

.hero .container {
    position: relative;
    z-index: 2;
}

.hero .container h1 {
    color: #FFFFFF;
    font-size: 2.5rem;
    font-weight: 500;
    line-height: 1.2;
}

.hero .container p {
    color: rgba(255, 255, 255, 0.418);
}

/* start form section */

.hero .container form {
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 5px;
    padding: 20px;
}

.hero .container form .row .form-control input {
    width: 100%;
    outline: none;
    border: none;
}

.hero .container form .row .btn {
    color: #FFFFFF;
    background-color: var(--light-green);
    border: none;
    outline: none;
    box-shadow: none;
}

/* end form section */

/* end home section */

/* start featured section */

.featured {
    padding: 70px 0px;
}

.featured .container {
    padding: 0px 60px;
}

/* start nums section */

.featured .container .nums {
    margin-top: -120px;
    background-color: #FFFFFF;
    border-radius: 10px;
    margin-bottom: 25px;
}

.featured .container .nums .row {
    display: flex;
    align-items: center;
    justify-content: center;
}

.featured .container .nums .row .col {
    width: fit-content;
    padding: 0px;
}

.featured .container .nums .row .col a {
    padding: 30px 10px;
    border-radius: 10px;
    width: 100%;
    transition: 0.5s;
}

.featured .container .nums .row .col a:hover {
    background-color: var(--light-green);
    color: #FFFFFF;
    transform: translateY(-20px);
}

.featured .container .nums .row .col a:hover i {
    color: #FFFFFF;
}

.featured .container .nums .row .col a:hover h5 {
    color: #FFFFFF;
}

.featured .container .nums .row .col a i {
    font-size: 32px;
    font-weight: 900;
    color: var(--light-green);
    transition: 0.5s;
}

.featured .container .nums .row .col a h5 {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.2;
    margin: 10px 0px;
    color: #666;
    transition: 0.5s;
}

.featured .container .nums .row .col a p {
    font-size: 12px;
    padding: 1px 15px;
    background-color: #dedede;
    border-radius: 50px;
    transition: 0.5s;
    width: fit-content;
}

/* end nums section */

/* start ads section */

.ads h5 {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
}

/* 
.ads .row{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0px;
} */

.ads .row .col {
    box-shadow: 0 2px 20px -2px rgb(0 0 0 / 10%);
    border-radius: 10px;
    border: none;
    background: none;
    outline: none;
    padding: 0px;
    margin: 0px 15px 20px 15px;
}

/* .ads .row .col .img {
    width: 100%;
}

.ads .row .col img {
    object-fit: cover;
    width: 100%;
    height: 100%;
} */

.ads .row .col .info .fa-heart,
.ads .row .col .link {
    color: var(--light-green);
}

.ads .row .col .info .fa-heart:hover {
    color: #ff0000;
}

.ads .row .col .info .grey {
    background-color: #dedede;
    padding: 0px 10px;
    border-radius: 50px;
    font-size: 11px;
}

.ads .row .col .link {
    font-size: 16px;
    margin-bottom: 5px;
    font-weight: 700;
    line-height: 1.2;
}

.ads .row .col .location {
    font-size: 12px;
    font-weight: 400;
    line-height: 1.8;
}

.ads .row .col .rating {
    font-size: 12px;
}

.ads .row .col .rating .filled {
    color: #f89d13;
    font-size: 12px;
}

.ads .row .col .rating p {
    display: inline-block;
}

/* end ads section */

/* end featured section */