/* start rules */

:root {
    --light-green: #30e3ca;
}

@font-face {
    font-family: "Nanum Gothic";
    src: url(https://fonts.gstatic.com/s/nanumgothic/v26/PN_3Rfi-oW3hYwmKDpxS7F_z-7rJxHVIsPV5MbNO2rV2_va-Nv6p.0.woff2) format('woff2');
    font-style: normal;
    font-weight: 400;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
    display: inline-block;
}

ul {
    list-style: none;
}

li {
    text-decoration: none;
}

a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

body {
    font-family: "Nanum Gothic", sans-serif;
}

/* end rules */

/* start nav section */

.navbar {
    margin-top: 20px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    width: 95%;
    border-radius: 5px;
}

.navbar-brand {
    font-size: 20px;
    font-weight: 900;
}

.navbar-brand span {
    color: var(--light-green);
    font-weight: 700;
}


.navbar .container-fluid .collapse .navbar-nav .nav-item .nav-link {
    transition: 0.3s;
    color: #051441;
    padding: 20px 10px;
    font-size: 15px;
    font-weight: 500;
}


.navbar .container-fluid .collapse .navbar-nav .nav-item .nav-link:hover {
    color: #30e3ca;
}

.navbar .container-fluid .collapse .navbar-nav .nav-item .nav-link.btn {
    color: #FFFFFF;
    background-color: var(--light-green);
    padding: 8px 12px;
}

/* end nav section */


/* start home section */

.hero {
    background-image: url(../photos/hero.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    z-index: -1;
}

.hero::before {
    content: "";
    background: rgba(0, 0, 0, 0.4);
    position: absolute;
    inset: 0;
    z-index: 1;
}

.hero .container {
    position: relative;
    z-index: 2;
}

.hero .container h1 {
    color: #FFFFFF;
    font-size: 2.5rem;
    font-weight: 500;
    line-height: 1.2;
}

.hero .container p {
    color: rgba(255, 255, 255, 0.418);
}

/* start form section */

.hero .container form {
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 5px;
    padding: 20px;
}

.hero .container form .row .form-control input {
    width: 100%;
    outline: none;
    border: none;
}

.hero .container form .row .btn {
    color: #FFFFFF;
    background-color: var(--light-green);
    border: none;
    outline: none;
    box-shadow: none;
}

/* end form section */

/* end home section */

/* start featured section */

.featured {
    padding: 70px 0px;
}

.featured .container {
    padding: 0px 60px;
}

/* start nums section */

.featured .container .nums {
    margin-top: -120px;
    background-color: #FFFFFF;
    border-radius: 10px;
    margin-bottom: 25px;
}

.featured .container .nums .row {
    display: flex;
    align-items: center;
    justify-content: center;
}

.featured .container .nums .row .col {
    width: fit-content;
    padding: 0px;
}

.featured .container .nums .row .col a {
    padding: 30px 10px;
    border-radius: 10px;
    width: 100%;
    transition: 0.5s;
}

.featured .container .nums .row .col a:hover {
    background-color: var(--light-green);
    color: #FFFFFF;
    transform: translateY(-20px);
}

.featured .container .nums .row .col a:hover i {
    color: #FFFFFF;
}

.featured .container .nums .row .col a:hover h5 {
    color: #FFFFFF;
}

.featured .container .nums .row .col a i {
    font-size: 32px;
    font-weight: 900;
    color: var(--light-green);
    transition: 0.5s;
}

.featured .container .nums .row .col a h5 {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.2;
    margin: 10px 0px;
    color: #666;
    transition: 0.5s;
}

.featured .container .nums .row .col a p {
    font-size: 12px;
    padding: 1px 15px;
    background-color: #dedede;
    border-radius: 50px;
    transition: 0.5s;
    width: fit-content;
}

/* end nums section */

/* start ads section */

.ads h5 {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
}


.ads .row .col {
    box-shadow: 0 2px 20px -2px rgb(0 0 0 / 10%);
    border-radius: 10px;
    border: none;
    background: none;
    outline: none;
    padding: 0px;
    margin: 0px 15px 20px 15px;
}

.ads .row .col .info .fa-heart,
.ads .row .col .link {
    color: var(--light-green);
}

.ads .row .col .info .fa-heart:hover {
    color: #ff0000;
}

.ads .row .col .info .grey {
    background-color: #dedede;
    padding: 0px 10px;
    border-radius: 50px;
    font-size: 11px;
}

.ads .row .col .link {
    font-size: 16px;
    margin-bottom: 5px;
    font-weight: 700;
    line-height: 1.2;
}

.ads .row .col .location {
    font-size: 12px;
    font-weight: 400;
    line-height: 1.8;
}

.ads .row .col .rating {
    font-size: 12px;
}

.ads .row .col .rating .filled {
    color: #f89d13;
    font-size: 12px;
}

.ads .row .col .rating p {
    display: inline-block;
}

/* end ads section */

/* end featured section */

/* start popular section */

.popular .container h2 {
    color: var(--light-green);
    font-size: 32px;
    font-weight: 700;
    line-height: 1.2;
}

.popular .container>p {
    font-size: 16px;
    line-height: 1.8;
    font-weight: 400;
    position: relative;
    margin-bottom: 40px;
}

.popular .container>p::after {
    content: "";
    border-bottom: 3px solid var(--light-green);
    width: 80px;
    position: absolute;
    bottom: -60%;
    left: 50%;
    transform: translateX(-50%);
}

.popular .container .row .col .card {
    overflow: hidden;
}

.popular .container .row .col .card img {
    transform: scale(1);
    transition: 0.3s;
}

.popular .container .row .col .card:hover img {
    transform: scale(1.3);
}

.popular .container .row .col .card-img-overlay {
    background: rgba(0, 0, 0, 0.4);
}

.popular .container .row .col .card-img-overlay .card-text a {
    background-color: var(--light-green);
    padding: 5px 15px;
    border-radius: 50px;
    outline: none;
    border: none;
    font-size: 10px;
}

.popular .container .row .col .card-img-overlay .card-title a {
    margin: 10px 0px 5px 0px;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
}

.popular .container .row .col .card-img-overlay .card-text.location {
    color: rgba(255, 255, 255, 0.8);
    font-size: 14px;
}

.popular .container .row .col .card-img-overlay .card-text.heart {
    background-color: #888;
    color: #FFFFFF;
    padding: 7px;
    border-radius: 50%;
    position: absolute;
    bottom: 20px;
    right: 20px;
    text-align: center;
    transition: 0.3s;
}

.popular .container .row .col .card-img-overlay .card-text.heart:hover {
    background-color: #ff0000;
}

/* end popular section */

/* start trending section */

.trending {
    padding: 70px 0;

}

.trending .container .grey p {
    font-size: 11px;
    background-color: #dedede;
    padding: 0 10px;
    border-radius: 50px;
}

.trending .container .grey i {
    color: #30e3ca;
    padding: 8px;
    border-radius: 50%;
    transition: 0.3s;
}

.trending .container .grey i:hover {
    color: #FFFFFF;
    background-color: #FF0000;
}

.trending .container .card-title {
    font-size: 16px;
    color: var(--light-green);
    margin-bottom: 5px;
    font-weight: 700;
}

.trending .container .card-text.parag {
    font-size: 12px;
}

.trending .container .rating {
    font-size: 12px;
}

.trending .container .rating .filled {
    color: #f89d13;
    font-size: 12px;
}

/* end trending section */

/* start testimonial section */

.testimonial {
    padding: 70px 0;
}

.testimonial .container h2 {
    color: var(--light-green);
    font-weight: 700;
    text-align: center;
    position: relative;
}

.testimonial .container h2::before {
    content: "";
    position: absolute;
    bottom: 0;
    width: 80px;
    border-bottom: 3px solid #30e3ca;
    left: 50%;
    transform: translatex(-50%);
}

.testimonial .container .img {
    width: 100px;
}

.testimonial .container img {
    border-radius: 50%;
}

/* end testimonial section */

/* start blog section */

.blog {
    padding: 70px 0;
}

.blog .container h3 {
    font-size: 20px;
    margin-top: 20px;
}

.blog .container .card-text.information {
    margin: 10px 0;
    font-size: 12px;
    color: #666;
}

.blog .container .card-text.information a {
    color: var(--light-green);
}

.blog .container .card-text.parag {
    font-size: 14px;
}

.blog .container .btn {
    background: var(--light-green);
    border: unset;
    border: unset;
    outline: unset;
    box-shadow: unset;
    color: white;
}

/* end blog section */

/* start newsletter section */

.newsletter {
    background-color: var(--light-green);
    color: #FFFFFF;
    padding: 40px 0;
}

.newsletter .container .row .col form input.form-control {
    border: none;
    border-bottom: 1px solid #FFFFFF;
    background: none;
    padding-left: 0;
    box-shadow: unset;
}

.newsletter .container .row .col form input.btn {
    background-color: #FFFFFF;
    color: #000000;
    border-radius: 0;
}

/* end newsletter section */