/* start rules */

@font-face {
    font-family: "Work Sans";
    src: url(../fonts/WorkSans-Regular.ttf);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
    display: inline-block;
}

ul {
    text-decoration: none;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    font-family: "Work Sans", sans-serif;
}

.container {
    margin: 0 261px;
    padding: 0 15px;
}

/* end rules */

/* start header */

.header {
    background-color: #dcdcdc;
    padding: 20px;
}

.header .container {
    /* background-color: aqua; */
    margin-left: auto;
    margin-right: auto;
    margin-left: 15px;
    margin-right: 15px;
    display: flex;
    justify-content: space-around;
    gap: 75%;
    align-items: center;
}

/* start nav menu */

.header .container .logo {
    width: 60px;
}

.header .container .nav .icon {
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
    width: 30px;
    height: 20px;
    position: relative;
}

.header .container .nav .icon span {
    width: 50%;
    border-top: 2px solid #000;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    transition: 0.4s;
}

.header .nav:hover .icon span {
    width: 100%;
}

.header .nav .dropDown {
    position: absolute;
    background-color: #f6f6f6;
    border-radius: 11px;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.29);
    text-align: left;
    top: 200%;
    right: 0;
    visibility: hidden;
    opacity: 0;
    transition: 0.4s;
}

.header .nav .dropDown::before {
    content: "";
    border-top: 20px solid transparent;
    border-bottom: 20px solid #f6f6f6;
    border-right: 20px solid transparent;
    border-left: 20px solid transparent;
    /* width: 10px; */
    position: absolute;
    bottom: 95%;
    right: 0;
    /* z-index: -1; */
}

.header .nav:hover .dropDown {
    visibility: visible;
    opacity: 1;
}

.header .nav .dropDown a {
    padding: 12px 50px 12px 12px;
    border-radius: 11px;
    min-width: 200px;
    display: inline-block;
    transition: 0.3s;
}

.header .nav .dropDown a:hover {
    background-color: #f1f1f1;
    transform: translatex(20px);
    min-width: 180px;
}

/* end nav menu*/

/* end header */

/* start landing */

.landing {
    height: 100vh;
    background: rgba(0, 0, 0, 0.64);
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.landing h1 {
    font-size: 40px;
    font-weight: bold;
    color: rgb(16 202 183);
}

.landing p {
    font-size: 19px;
    color: #fff;
}

/* end landing */

/* start features */

.features {
    background-color: #F6F6F6;
    padding-top: 60px;
    padding-bottom: 60px;
}

.features .container {
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

.features .feat {
    /* background-color: burlywood; */
    text-align: center;
    padding: 20px;
}

.features .feat h3 {
    font-weight: 800;
    margin: 30px 0;
}

.features .feat i {
    color: #10CAB7;
    font-size: 3em;
}

.features .feat p {
    color: #777;
    font-size: 17px;
}

/* end features */

/* start services */

.services {
    padding-top: 60px;
    padding-bottom: 60px;
}

.services .container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.services .container h2 {
    text-align: center;
    color: #ebeced;
    font-size: 100px;
    font-weight: 800;
    margin: 0;
}

.services .container>p {
    text-align: center;
    color: #797979;
    font-size: 20px;
    font-weight: 800;
    margin-top: -30px;
}

.services .container .content {
    display: flex;
    justify-content: space-between;
    margin-top: 150px;
}

.services .container .content .column {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.services .container .content .column .service {
    display: flex;
    margin-bottom: 40px;
}

.services .container .content .column .service .text {
    margin-top: -15px;
}

.services .container .content .column .service .text p {
    margin-top: 10px;
}

.services .container .content .column .service i {
    color: #10cab7;
    margin-right: 10px;
    font-size: 2em;
}

.services .container .content .column .img {
    position: relative;
}

.services .container .content .column .img::before {
    content: "";
    background-color: #2c4755;
    width: 40%;
    height: 125%;
    display: inline-block;
    position: absolute;
    z-index: -1;
    right: -10%;
    bottom: -10%;
    border-radius: 5px;
}

.services .container .content .column .img img {
    border-radius: 5px;
}

/* end services */

/* start portfolio */

.portfolio {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #f6f6f6;
}

.portfolio .container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.portfolio .container .portfolioHeader h2 {
    text-align: center;
    color: #ebeced;
    font-size: 100px;
    font-weight: 800;
    margin: 0;
}

.portfolio .container .portfolioHeader p {
    text-align: center;
    color: #797979;
    font-size: 20px;
    font-weight: 800;
    margin-top: -30px;
}

.portfolio .container .portfolioContent {
    display: flex;
    justify-content: space-around;
    gap: 5%;
    margin-top: 30px;
}

.portfolio .container .portfolioContent .card {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    border: 2px;
    border-radius: 30px;
    overflow: hidden;
}

.portfolio .container .portfolioContent .card p {
    color: #777;
}

.portfolio .container .portfolioContent .card .text {
    padding: 20px;
}

/* end portfolio */

/* start about */
.about {
    padding-top: 60px;
    padding-bottom: 60px;
    margin-top: 50px;
    background-color: white;
}

.about .container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.about .container .aboutHeader h2 {
    text-align: center;
    color: #ebeced;
    font-size: 100px;
    font-weight: 800;
    margin: 0;
}

.about .container .aboutHeader p {
    text-align: center;
    color: #797979;
    font-size: 20px;
    font-weight: 800;
    margin-top: -30px;
}

.about .container .aboutContent {
    display: flex;
    justify-content: space-around;
    gap: 20%;
    margin-top: 100px;
}

.about .container .aboutContent .column {
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
}

.about .container .aboutContent .column .img {
    position: relative;
    z-index: 1;
}

.about .container .aboutContent .column .img::before {
    content: "";
    background-color: #ebeced;
    width: 25%;
    height: 125%;
    display: inline-block;
    position: absolute;
    z-index: -1;
    left: -10%;
    bottom: -10%;
    border-radius: 5px;
}

.about .container .aboutContent .column .img::after {
    content: "";
    border-left: 75px solid #10CAB7;
    border-bottom: 75px solid #10CAB7;
    width: 35%;
    height: 75%;
    display: inline-block;
    position: absolute;
    z-index: -1;
    right: -129px;
    bottom: 14%;
    border-radius: 5px;
}

.about .container .aboutContent .column .img img {
    width: 265px;
    border-radius: 5px;
}

.about .container .aboutContent .column hr {
    width: 50%;
    display: inline-block;
    border-color: #10cab7;
}

.about .container .aboutContent .column .p1 {
    font-weight: bold;
    margin-bottom: 60px;
}

.about .container .aboutContent .column .p2 {
    color: #777;
    margin-top: 30px;
}

/* end about */

/* start contact */

.contact {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #f6f6f6;
}

.contact .container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
}

.contact .container .contactHeader h2 {
    color: #ebeced;
    font-size: 100px;
    font-weight: 800;
    margin: 0;
}

.contact .container .contactHeader p {
    color: #797979;
    font-size: 20px;
    font-weight: 800;
    margin-top: -30px;
}

.contact .container .email {
    color: #2c4755;
    font-size: 35px;
    font-weight: 800;
    margin-bottom: 15px;
}

.contact .container .link {
    display: block;
    color: #10cab7;
    font-weight: 800;
    font-size: 35px;
}

.contact .container .social {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-size: 16px;
}

.contact .container .social i {
    color: #2c4755;
    margin-left: 10px;
}

/* end contact */

/* start footer */

footer {
    color: rgb(255, 255, 255);
    background-color: #2c4755;
    text-align: center;
    font-size: 18px;
    padding: 30px 10px;
}

/* end footer */